.actions-header {
	position: sticky;
	z-index: 9;
	top: 5.5rem;
}

body.admin-bar .actions-header {
	top: calc(5.5rem + 32px);
}

body.single-actions:has(.taxonomy-action_goals a[href*="goal-1"]) {
	.action-title-header {
		background-color: var(--wp--preset--color--custom-goal-1) !important;

		.action-title {
			color: var(--wp--preset--color--primary-brand) !important;
		}
	}
}

body.single-actions:has(.taxonomy-action_goals a[href*="goal-2"]) {
	.action-title-header {
		background-color: var(--wp--preset--color--custom-goal-2) !important;

		.action-title {
			color: var(--wp--preset--color--primary-brand) !important;
		}
	}
}

body.single-actions:has(.taxonomy-action_goals a[href*="goal-3"]) {
	.action-title-header {
		background-color: var(--wp--preset--color--custom-goal-3) !important;

		.action-title {
			color: var(--wp--preset--color--primary-brand) !important;
		}
	}
}

body.single-actions:has(.taxonomy-action_goals a[href*="goal-4"]) {
	.action-title-header {
		background-color: var(--wp--preset--color--custom-goal-4) !important;

		.action-title {
			color: var(--wp--preset--color--primary-brand) !important;
		}
	}
}

body.single-actions .action-title::before {
	content: "Action ";
}

body.single-actions:has(.action-complete) {
	.action-title::after {
		content: " (complete)";
	}
}

.icon {
	margin: auto;
	position: relative;
	border-radius: 50%;

	&::before,
	&::after {
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		content: "";
		display: inline-block;
	}

	&.wp-block-mfb-meta-field-block {

		height: 100%; //was: 108px
		width: 100%; //was: 108px

		.wp-block-query & {
			scale: 75%;

			@media (min-width: 1024px) {
				scale: 66%;
				left: -5%;
			}

			@media (min-width: 1220px) {
				scale: 75%;
				left: 0;
			}
		}

		&::after {
			scale: 110%;
		}

		&.stage {
			&::after {
				background-image: var(--level-0-bg);
			}

			&::before {
				background-image: var(--stage-icon-level-0);
			}

			&.level-1 {
				&::before {
					background-image: var(--stage-icon-level-1);
				}
			}

			&.level-2 {
				&::before {
					background-image: var(--stage-icon-level-2);
				}

			}

			&.level-3 {
				&::before {
					background-image: var(--stage-icon-level-3);
				}
			}

			&.level-4 {
				&::before {
					background-image: var(--stage-icon-level-4);
				}
			}
		}

		&.complexity {
			&::after {
				background-image: var(--level-0-bg);
			}

			&::before {
				background-image: var(--complexity-icon-level-0);
			}

			&.level-1 {
				&::before {
					background-image: var(--complexity-icon-level-1);
				}
			}

			&.level-2 {
				&::before {
					background-image: var(--complexity-icon-level-2);
				}

			}

			&.level-3 {
				&::before {
					background-image: var(--complexity-icon-level-3);
				}
			}

			&.level-4 {
				&::before {
					background-image: var(--complexity-icon-level-4);
				}
			}
		}

		&.risks {
			&::after {
				background-image: var(--level-0-bg);
			}

			&::before {
				background-image: var(--risks-icon-level-0);
			}

			&.level-1 {
				&::before {
					background-image: var(--risks-icon-level-1);
				}
			}

			&.level-2 {
				&::before {
					background-image: var(--risks-icon-level-2);
				}

			}

			&.level-3 {
				&::before {
					background-image: var(--risks-icon-level-3);
				}
			}

			&.level-4 {
				&::before {
					background-image: var(--risks-icon-level-4);
				}
			}
		}

		&.engagement {
			&::after {
				background-image: var(--level-0-bg);
			}

			&::before {
				background-image: var(--engagement-icon-level-0);
			}

			&.level-1 {
				&::before {
					background-image: var(--engagement-icon-level-1);
				}
			}

			&.level-2 {
				&::before {
					background-image: var(--engagement-icon-level-2);
				}

			}

			&.level-3 {
				&::before {
					background-image: var(--engagement-icon-level-3);
				}
			}

			&.level-4 {
				&::before {
					background-image: var(--engagement-icon-level-4);
				}
			}
		}

		&.level-1 {
			&::after {
				background-image: var(--level-1-bg);
			}
		}

		&.level-2 {
			&::after {
				background-image: var(--level-2-bg);
			}

		}

		&.level-3 {
			&::after {
				background-image: var(--level-3-bg);
			}
		}

		&.level-4 {
			&::after {
				background-image: var(--level-4-bg);
			}
		}

		.value {
			display: none;
		}
	}

	&::before,
	&::after {
		background-repeat: no-repeat;
		background-position: top center;
		background-size: contain;
		height: 100%;
		min-height: auto;
		width: 100%;
		scale: 100%;
		position: absolute;
		left: 0;
	}

	&:not(figure) { 
		min-height: 12rem;

		&::before,
		&::after {
			background-size: 108px;
			font-size: 1rem;
			height: calc(100% - 5rem);
			min-width: 100%;
		}
	}

	&::before {
		content: attr(data-level);
		display: block;
		padding-block-start: 8rem;
	}

	&::after {
		content: "";
		display: inline-block;
		position: absolute;
		left: 0;
		top: 0;
		scale: 100%;
	}

	>img {
		position: relative;
		top: 0;
	}

	&.level-1 {
		&::after {
			background-image: var(--level-1-bg);
		}
	}

	&.level-2 {
		&::after {
			background-image: var(--level-2-bg);
		}

	}

	&.level-3 {
		&::after {
			background-image: var(--level-3-bg);
		}
	}

	&.level-4 {
		&::after {
			background-image: var(--level-4-bg);
		}
	}
}

.lighten {
	opacity: .3;
}

body:not(.search) .wp-block-query:not(.small-screen) {
	.actions {
		&.type-actions {
			&:nth-child(even) {
				.wp-block-group {
					background-color: var(--wp--preset--color--custom-action-alt-grey-bg) !important;
				}
			}
		}
	}
}

body.search {
	.wp-block-post-title {
		font-size: clamp(1.5rem, 1.58rem + ((1vw - 0.2rem) * 1.543), 2.25rem);
		margin-bottom: 1rem;
		line-height: 1.35;
	}

	.actions {
		.wp-block-post-title {
			a {
				&::before {
					content: "Action ";
				}
			}
		}
	}

	.wp-block-post-excerpt__more-text {
		display: none;
	}
}

.wp-block-query:not(.large-screen) {
	.action-results-container {
		gap: 0;
	}
}

.type-actions {
	.no-detailed-view {
		display: block;
	}

	.detailed-view-link {
		display: none;

		a {
			font-weight: 700;
			text-underline-offset: 3px;
			text-decoration-thickness: 2px;
			padding: 0.25rem 0.66rem 0.5rem;
			border-radius: 0.33rem;
			border: 2px solid transparent;
			white-space: nowrap;
		}
	}
}

@for $i from 1 through 4 {
	.action_goals-goal-#{$i} {
		&.action_goals-goal-#{$i}-detailed-view {
			.no-detailed-view {
				display: none;
			}

			.detailed-view-link {
				display: block;

				a:is(:hover, :focus-visible) {
					background-color: var(--wp--preset--color--custom-goal-#{$i});
					border: 0.125rem solid var(--wp--preset--color--white);
					outline: 0.2rem solid var(--wp--preset--color--primary-brand);
				}
			}
		}
	}
}