/**
* For general admin styles use: body.wp-admin { } 
*/

/**
* For admin editor based styles use: html :where(.editor-styles-wrapper) { } 
*/

html :where(.editor-styles-wrapper) { 


	.two-up-card-feature .wp-block-columns .wp-block-group {
		width: 100%;
		.wp-block-cover {
			border-radius: 1rem 1rem 0 0;
			overflow: hidden;
		}
	  }
} 

